@font-face {
  font-family: "nasalization";
  src: url(font/nasalization/nasalization.woff) format(woff),
       url(font/nasalization/nasalization.woff2) format(woff2);
}

@font-face {
  font-family: "xolonium";
  src: url(font/xolonium/xolonium.woff) format(woff),
       url(font/xolonium/xolonium.woff2) format(woff2);
}

* {
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: break-word;
}

:root {
  background-color: black;
  color: white;
  --auth-size: min(calc(40vw + 40vh), 640px);
  --cyber-size: min(calc(2.5vw + 2.5vh), 64px);
}

body {
  margin: 0;
  background-image: url("/bg-img.webp");
  background-size: cover;
}

#auth-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth-container {
  width: var(--auth-size);
  height: calc(var(--auth-size) * 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--auth-size) / 100);
}

#main-heading {
  margin: 0;
  font-size: calc(var(--auth-size) * 0.1);
  font-family: nasalization, xolonium;
}

#sign-form {
  background-color: #000000cc;
  width: 90%;
  height: 80%;
  border: calc(var(--auth-size) / 250) solid white;
  font-family: xolonium;
  
}

#sign-type {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sign-type button {
  background-color: transparent;
  padding-bottom: calc(var(--auth-size) / 100);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: calc(var(--auth-size) / 25);
}

#sign-type button.selected {
  border-bottom: 2px solid white;
}

#auth-greeting-container {
  height: 20%;
  padding-inline: calc(var(--auth-size) / 40);
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-size: calc(var(--auth-size) / 40);
}

#auth-input-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--auth-size) / 35);
  gap: calc(var(--auth-size) / 50);
}

#auth-input-container label {
  display: inline-block;
  width: calc(var(--auth-size) / 4);
  text-align: center
}

#auth-input-container input {
  background-color: transparent;
  width: calc(var(--auth-size) / 2.2);
  height: calc(var(--auth-size) / 18);
  padding: 0 calc(var(--auth-size) / 70);
  border: calc(var(--auth-size) / 400) solid white;
  border-radius: calc(var(--auth-size) / 200);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

#auth-input-container input:focus {
  outline: none;
  border-color: red;
}

#auth-button {
  height: 25%;
  display: grid;
  justify-content: center;
  align-items: start;
}

#auth-button button {
  background-color: #ffffff55;
  width: calc(var(--auth-size) / 4);
  height: calc(var(--auth-size) / 15);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
}

#auth-button button:active {
  background-color: #10c80a55;
  color: #10c80a;
}

#loading-overlay {
  background-color: #000000e0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-content: center;
}

#loading-spinner {
  width: max(4vw, 50px);
  height: max(4vw, 50px);
  border: max(0.4vw, 5px) solid white;
  border-right-color: transparent;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overflow-y-support {
  overflow-y: auto;
}

.overflow-y-support::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-support::-webkit-scrollbar-thumb {
  background-color: #aaddff50;
  border-radius: 24px;
}

.overflow-y-support::-webkit-scrollbar-thumb:hover,
.overflow-y-support::-webkit-scrollbar-thumb:active {
  background-color: #aaddff;
}

.overflow-y-support::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 24px;
}

.overflow-y-support::-webkit-scrollbar-track:hover {
  background-color: #aaddff50;
}

.overflow-y-support.smaller-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.indicator.online {
  background-color: lime;
}

.indicator.offline {
  background-color: red;
}

.indicator.hidden {
  background-color: lightgray;
}

#pop-up {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000dd;
  display: grid;
  place-content: center;
}

#pop-up > div.main-container {
  background-color: #aaddff35;
  width: 480px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

#pop-up .caption {
  margin: 0;
  padding-block: 16px;
  text-align: center;
  color: #aaddff99;
  font-size: 21px;
}

#pop-up .line {
  margin: 0;
  border-color: #aaddff50;
}

#pop-up .bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pop-up .text-content {
  flex-grow: 1;
  padding-inline: 36px;
  display: grid;
  place-content: center;
  text-align: center;
  color: #aaddff;
  font-size: 18px;
}

#pop-up .buttons {
  width: 100%;
  padding-right: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

#pop-up .buttons button {
  background-color: transparent;
  padding: 8px 16px;
  border: 1px solid #aaddff50;
  color: red;
  font-family: inherit;
  font-size: 18px;
}

#pop-up .buttons button.first-button {
  background-color: #aaddff50;
  color: #aaddff;
}

#pop-up .buttons button:hover,
#pop-up .buttons button:active {
  opacity: 70%;
}

#pop-up .confirm-delete {
  position: relative;
  width: 100%;
  margin-bottom: 64px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

#pop-up .confirm-delete span {
  margin-left: 6px;
  padding: 0;
  color: #aaddffbb;
  font-size: 13px;
}

#pop-up .confirm-delete input {
  background-color: transparent;
  width: 70%;
  height: 35px;
  padding-left: 8px;
  padding-right: 36px;
  border: 2px solid #aaddff99;
  color: #aaddff;
  font-family: inherit;
  font-size: 14px;
}

#pop-up .confirm-delete input:focus {
  outline: none;
}

#pop-up .confirm-delete .password-visibility {
  position: absolute;
  right: 155px;
  bottom: 0;
  padding: 6px;
  width: 35px;
  height: 35px;
}

#pop-up .confirm-delete .password-visibility svg {
  fill: #aaddff99;
}

#pop-up .confirm-delete .password-visibility svg:hover,
#pop-up .confirm-delete .password-visibility svg:active {
  fill: #aaddff;
}

#pop-up .confirm-delete button {
  position: absolute;
  right: 24px;
  bottom: 0;
  background-color: transparent;  
  height: 35px;
  padding-inline: 12px;
  border: 2px solid red;
  color: red;
  font-family: inherit;
  font-size: 12px;
}

#pop-up .confirm-delete button:hover,
#pop-up .confirm-delete button:active {
  background-color: #ff000033;
}

#pop-up .confirm-delete .error-info {
  position: absolute;
  top: 72px;
  left: 0;
  margin: 0;
  padding-inline: 28px;
  text-align: start;
  color: red;
}

#cyber-page {
  background-color: #000000e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: xolonium;
}

#cyber-container {
  background-color: #0a101650;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#cyber-container nav {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

#top-nav, #bottom-nav {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.nav-button {
  position: relative;
  background-color: transparent;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.nav-button svg {
  fill: white;
  width: 40px;
}

.nav-button:hover {
  background-color: #ffffff20;
}

.nav-button.selected {
  background-color: #ffffff30;
}

button#nav-pfp {
  background-color: transparent;
  border: none;
  padding: 0;
  display: grid;
  place-content: center;
  border-radius: 100%;
}

button#nav-pfp img {
  width: 60px;
  height: 60px;
  border: 3px solid #ffffff30;
  border-radius: 100%;
}

button#nav-pfp:hover,
button#nav-pfp:active {
  opacity: 75%;
}

button#toggle-theme {
  background-color: #ffffff20;
  width: 60px;
  height: 60px;
  padding: 0;
  border: 3px solid #ffffff30;
  border-radius: 100%;
}

button#toggle-theme:hover {
  background-color: #ffffff30;
}

button#toggle-theme svg {
  fill: white;
  width: 35px;
}

#cyber-notif {
  position: absolute;
  top: 11px;
  right: 8px;
  background-color: #ff424299;
  width: 11px;
  height: 11px;
  border-radius: 100%;
}

#cyber-chats {
  flex-grow: 1;
  display: flex;
  position: relative;
}

#cyber-chats-aside {
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

#chats-aside-top {
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#chats-aside-top .top h1 {
  margin: 0;
  text-align: center;
}

#chats-aside-search {
  display: flex;
  background-color: #ffffff25;
}

#chats-aside-search div {
  width: 54px;
  height: 42px;
  display: grid;
  place-content: center;
}

#chats-aside-search svg {
  fill: white;
  width: 1.8rem;
}

#chats-aside-search input {
  flex-grow: 1;
  background-color: transparent;
  padding-inline: 0.5rem;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
}

#chats-aside-search input:focus-visible {
  outline: none;
}

#chats-aside-bottom {
  flex-grow: 1;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-card {
  position: relative;
  background-color: #ffffff25;
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-card:hover {
  background-color: #7777bf50;
}

.chat-card.selected {
  background-color: #7777df77;
}

.chat-card-pfp {
  min-width: 75px;
  border-radius: 100%;
  display: grid;
  place-content: center;
  position: relative;
}

.chat-card-pfp img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.chat-card-pfp .indicator {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.chat-card-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-card-info .name {
  width: 90%;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.chat-card-info .name .display-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.chat-card-info .name .username {
  color: #aaddff;
  font-size: 1rem;
  font-weight: bold;
}

.chat-card-info .title {
  color: #ffffffbb;
  width: 90%;
  font-size: 0.9rem;
}

.chat-card .unread-count {
  position: absolute;
  right: 24px;
  top: auto;
  background-color: #ff424277;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: grid;
  place-content: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

#cyber-chats-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#chats-content-top  {
  padding-block: 24px;
  padding-inline: 36px;
  display: flex;
  gap: 18px;
}

#chats-content-top .pfp {
  display: grid;
  place-content: center;
}

#chats-content-top .pfp img {
  width: 72px;
  border-radius: 100%;
}

#chats-content-top .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chats-content-top .info h1 {
  margin: 0;
  font-size: 1.5rem;
}

#chats-content-top .info span {
  color: #ffffff99;
  font-size: 1.1rem;
}

#chats-content-bottom {
  flex-grow: 1;
  height: 0;
  display: flex;
  flex-direction: column;
}

#chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#chat-messages > button {
  align-self: center;
  background-color: #aaddff25;
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  color: #aaddff99;
  font-family: inherit;
  font-size: 14px;
}

#chat-messages > button:hover,
#chat-messages > button:active {
  background-color: #aaddff35;
}

#chat-messages .message-card {
  padding-inline: 36px;
  display: flex;
  justify-content: flex-start;
  gap: 6px;
}

#chat-messages .message-card .container {
  position: relative;
  width: 700px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

#chat-messages .message-card .sender-name {
  background-color: #aaddff50;
  width: max-content;
  min-height: 30px;
  padding-inline: 12px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#chat-messages .message-card .content {
  flex-grow: 1;
  width: 100%;
  padding: 12px;
  border: 1px solid #aaddff50;
  line-height: 1.5;
  font-size: 14px;
}

#chat-messages .message-card .content:focus {
  outline: none;
}

#chat-messages .message-card .time {
  position: absolute;
  bottom: -18px;
  right: 4px;
  color: #aaddff99;
  font-size: 10px;
}

#chat-messages .message-card .unread-indicator {
  position: absolute;
  top: 0;
  right: 12px;
  color: #aaddff;
  font-size: 24px;
}

#chat-messages .message-card .features-button {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 0;
  align-self: flex-end;
  background-color: transparent;
  width: 47px;
  height: 47px;
  padding: 6px;
  border: none;
}

#chat-messages .message-card .features-button svg {
  fill: #aaddff70;
}

#chat-messages .message-card .features-button:hover,
#chat-messages .message-card .features-button:active {
  svg {
    fill: #aaddff;
  }
}

#chat-messages .message-card .features-container {
  z-index: 1;
  background-color: #303044;
  border: 0.5px solid #aaddff77;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

#chat-messages .message-card .features-container button {
  background-color: #aaddff15;
  height: 50%;
  padding: 0;
  border: 0.5px solid #aaddff77;
  text-align: center;
  color: #aaddffcc;
  font-size: 13px;
  font-family: inherit;
  font-weight: bold;
}

#chat-messages .message-card .features-container button:hover {
  background-color: #aaddff30;
}

#chat-input {
  min-height: 120px;
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#chat-input input {
  flex-grow: 1;
  background-color: transparent;
  height: 48px;
  padding-inline: 12px;
  border: 1px solid white;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
}

#chat-input input:focus {
  outline: none;
}

#chat-input button {
  background-color: #0066ff;
  width: 48px;
  height: 48px;
  border: 1px solid #0066ff;
}

#chat-input button svg {
  fill: white;
  width: 24px;
}

#chat-input button:active {
  border: 2px solid #aaddff;
}

#cyber-friends {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#cyber-friends-nav {
  min-height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#cyber-friends-nav h1 {
  margin: 0;
}

#cyber-friends .divider {
  background-color: #aaa;
  width: 2px;
  height: 2rem;
  margin-inline: 2rem;
}

#cyber-friends-nav button {
  position: relative;
  background-color: transparent;
  margin-right: 30px;
  padding-inline: 8px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.7rem;
}

#cyber-friends-nav button.selected {
  color: #0066ff;
  border-bottom: 3px solid #0066ff;
}

button#add-friend {
  background-color: #ffffff50;
}

button#add-friend:hover,
button#add-friend:active {
  background-color: #0066ff99;
}

#friends-notif-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #ff424277;
  width: 18px;
  height: 18px;
  display: grid;
  place-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

#cyber-friends-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#add-friend-modal {
  background-color: #000000dd;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
}

#add-friend-modal > div {
  background-color: #ffffff18;
  width: 480px;
  height: 510px;
  display: flex;
  flex-direction: column;
}

#add-friend-top {
  min-height: 10%;
  display: grid;
  place-content: center;
  position: relative;
}

#add-friend-top h1 {
  margin: 0;
  font-size: 1.25rem;
  color: #99aaee;
}

#add-friend-top > div {
  position: absolute;
  right: 0;
  width: 60px;
  height: 100%;
  display: grid;
  place-content: center;
}

#add-friend-top button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

#add-friend-top button:hover,
#add-friend-top button:active {
  background-color: #ffffff15;
}

#add-friend-top svg {
  fill: white;
  width: 30px;
}

#add-friend-modal hr {
  margin: 0;
  border-color: gray;
}

#add-friend-bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#add-friend-input {
  min-height: 10%;
  display: flex;
  border: 1px solid white;
}

#add-friend-input div {
  width: 10%;
  height: 100%;
  display: grid;
  place-content: center;
}

#add-friend-input svg {
  fill: white;
  width: 30px;
}

#add-friend-input input {
  flex-grow: 1;
  background-color: transparent;
  height: 100%;
  padding-right: 12px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
}

#add-friend-input input:focus {
  outline: none;
}

#add-friend-input button {
  align-self: center;
  background-color: #0066ff;
  width: 15%;
  height: 70%;
  margin-right: 4px;
  border: none;
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
}

#add-friend-input button:active {
  background-color: #0066ffaa;
}

#add-friend-no-result {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#add-friend-no-result img {
  width: 225px;
}

#add-friend-no-result span {
  text-align: center;
  color: #99aaee;
  font-size: 1.25rem;
}

#add-friend-profile {
  flex-grow: 1;
  max-height: 80%;
  display: flex;
  gap: 1%;
  padding-block: 12px;
}

#add-friend-profile-left {
  max-width: 185px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

#add-friend-profile-left img {
  width: 100%;
  border: 2px solid #aaddff;
}

#add-friend-profile-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

#add-friend-profile .friend-profile-data-card {
  width: 100%;
  height: max-content;
  padding: 8px;
  border: 2px solid #aaddff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#add-friend-profile .friend-profile-data-card:last-child {
  flex-grow: 1;
}

#add-friend-profile .friend-profile-data-card .label {
  color: #aaddff;
  font-size: 0.75rem;
}

#add-friend-profile .friend-profile-data-card .content {
  font-size: 1rem;
}

#add-friend-button {
  background-color: transparent;
  min-height: 10%;
  border: 3px solid #aaddff;
  color: #aaddff;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
}

#add-friend-button:hover {
  background-color: #ffffff22;
}

#add-friend-button:active {
  background-color: #ffffff50;
}

#add-friend-button.sent {
  color: #00ff62;
  border-color: #00ff62;
}

#add-friend-button.received {
  color: #00ff62;
  border-color: #00ff62;
}

#add-friend-button.is-friend {
  color: #00ff62;
  border-color: #00ff62;
}

#add-friend-button.self {
  color: red;
  border-color: red;
}

#add-friend-button.dev {
  color: red;
  border-color: red;
}

#add-friend-button.no-effect:hover, 
#add-friend-button.no-effect:active {
  background-color: transparent;
}

#friends-search {
  margin-right: 72px;
  display: flex;
  border: 1px solid white;
}

#friends-search input {
  flex-grow: 1;
  background-color: transparent;
  min-height: 42px;
  border: none;
  padding-right: 12px;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
}

#friends-search input:focus {
  outline: none;
}

#friends-search div {
  width: 42px;
  height: 42px;
  display: grid;
  place-content: center;
}

#friends-search svg {
  fill: white;
  width: 27px;
}

#friends-all {
  flex-grow: 1;
  padding-block: 48px;
  display: flex;
  flex-direction: column;
}

#friends-all h1 {
  margin: 0;
  margin-bottom: 24px;
  margin-right: 72px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

.friend-cards {
  flex-grow: 1;
  height: 0;
  padding-bottom: 24px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.friend-card {
  background-color: #ffffff20;
  min-height: 100px;
  display: flex;
}

.friend-card:hover {
  background-color: #ffffff35;
}

.friend-card-pfp {
  width: 100px;
  height: 100%;
  display: grid;
  place-content: center;
  position: relative;
}

.friend-card-pfp img {
  width: 65px;
  border-radius: 100%;
}

.friend-card-pfp .indicator {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  bottom: 22%;
  right: 18%;
}

.friend-card-info {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.friend-card-info > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.friend-card-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.friend-card-username {
  color: #aaddff;
  font-size: 1rem;
  font-weight: 700;
}

.friend-card-title {
  color: #ffffff99;
  font-size: 1rem;
}

.friend-card-buttons {
  display: flex;
  padding-inline: 36px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.friend-card-buttons button {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
}

.friend-card-buttons button svg {
  fill: white;
}

.friend-card-buttons button:hover, 
.friend-card-buttons button:active {
  svg {
    fill: #0066ff;
  }
}

#friends-pending {
  flex-grow: 1;
  padding-block: 48px;
  display: flex;
  flex-direction: column;
}

#friends-pending h1 {
  margin: 0;
  margin-bottom: 24px;
  margin-right: 72px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

#friends-pending .pending-cards {
  flex-grow: 1;
  height: 0;
  padding-bottom: 24px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#friends-pending .pending-card {
  background-color: #ffffff15;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  color: #aaddff;
  font-size: 16px;
}

#friends-pending .pending-card-buttons {
  background-color: transparent;
  margin-left: 1.25rem;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

#friends-pending .pending-card-buttons button {
  background-color: transparent;
  width: max-content;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
}

#friends-pending .pending-card-buttons button:hover,
#friends-pending .pending-card-buttons button:active {
  opacity: 60%;
}

#friends-pending .pending-card.unread {
  background-color: #aaddff35;
}

#friends-inbox {
  position: relative;
  flex-grow: 1;
  padding-block: 48px;
  display: flex;
  flex-direction: column;
}

#friends-inbox .top {
  margin-bottom: 24px;
  margin-right: 72px;
  display: flex;
  justify-content: space-between;
}

#friends-inbox .top button {
  background-color: transparent;
  height: 24px;
  margin-right: 12px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: red;
  font-size: 21px;
  font-family: inherit;
}

#friends-inbox .top button svg {
  fill: red;
  width: 21px;
}

#friends-inbox .top button:hover,
#friends-inbox .top button:active {
  opacity: 65%;
}

#friends-inbox h1 {
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
}

#friends-inbox .inbox-cards {
  flex-grow: 1;
  height: 0;
  padding-bottom: 24px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#friends-inbox .inbox-card {
  position: relative;
  background-color: #ffffff15;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: #aaddff;
  font-size: 16px;
}

#friends-inbox .inbox-card.unread {
  background-color: #aaddff35;
  padding-right: 100px;
}

#friends-inbox .inbox-card.unread::before {
  position: absolute;
  top: auto;
  right: 0;
  width: 72px;
  content: "New!";
  color: #aaddff;
  font-size: 18px;
  font-weight: bold;
}

#friends-empty-ui {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

#friends-empty-ui img {
  width: 350px;
}

#friends-empty-ui > div {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#friends-empty-ui span {
  width: 450px;
  color: #8a00fc;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.25;
}

#cyber-settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#cyber-settings h1 {
  min-height: 10%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#cyber-settings-features {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-feature {
  background-color: #777777cc;
  height: 50px;
  padding-inline: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-feature span {
  font-size: 2rem;
}

.settings-feature select {
  background-color: black;
  width: 120px;
  height: 40px;
  padding: 4px 8px;
  border: 1px solid white;
  color: inherit;
  font-size: 1.5rem;
}

.input-type-toggle {
  background-color: black;
  width: 80px;
  height: 40px;
  padding-inline: 8px;
  border: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-type-toggle div {
  background-color: #ccc;
  width: 28px;
  height: 28px;
}

.input-type-toggle.toggle-on {
  background-color: #0066ff;
  justify-content: flex-end;
}

#cyber-account {
  z-index: 2;
  background-color: #000000dd;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  position: fixed;
}

#cyber-account > div {
  position: relative;
  background-color: #22222fcc;
  width: 640px;
  height: 640px;
  display: flex;
  flex-direction: column;
}

#cyber-account-top {
  min-height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#cyber-account-top h1 {
  margin: 0;
  font-size: 1.8rem;
}

#cyber-account-top > div {
  width: 72px;
  height: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  right: 0;
}

#cyber-account-top button {
  background-color: transparent;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

#cyber-account-top button:hover,
#cyber-account-top button:active {
  background-color: #ffffff15;
}

#cyber-account-top svg {
  fill: white;
  width: 36px;
}

#cyber-account hr {
  margin: 0;
  border-color: gray;
}

#cyber-account-bottom {
  flex-grow: 1;
  padding-block: 12px;
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#account-data {
  display: flex;
  gap: 6px;
}

#account-data .left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#account-data .right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#account-pfp {
  position: relative;
  width: 225px;
  aspect-ratio: 1 / 1;
  border: 2px solid #aaddff99;
  overflow: hidden;
}

#account-pfp > img {
  width: 100%;
  height: 100%;
}

#account-pfp > button {
  position: absolute;
  bottom: 0;
  background-color: #000000bb;
  border: none;
  width: 100%;
  height: 15%;
  padding: 0;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  color: #aaddff;
  font-family: inherit;
  font-weight: bold;

  svg {
    fill: #aaddff;
    width: 10%;
  }
}

#account-pfp > button:hover,
#account-pfp > button:active {
  color: #aaddffaa;

  svg {
    fill: #aaddffaa;
  }
}

#upload-pfp {
  position: absolute;
  bottom: 0;
  background-color: #000000bb;
  width: 100%;
  height: 15%;
}

#upload-pfp input {
  display: none;
}

#upload-pfp label {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

#account-pfp-preview {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000dd;
  display: grid;
  place-content: center;
}

#account-pfp-preview .main-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#account-pfp-preview img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border: 10px solid #aaddff50;
}

#account-pfp-preview button {
  background-color: #aaddff50;
  width: 100%;
  padding: 6px 0;
  border: none;
  color: #aaddff;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
}

#account-pfp-preview button:hover,
#account-pfp-preview button:active {
  background-color: #aaddff77;
}

#account-data .account-data-card {
  position: relative;
  height: 75px;
  padding: 12px 8px 20px 8px;
  border: 2px solid #aaddff99;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#account-data .account-data-card.bio {
  flex-grow: 1;
}

#account-data .account-data-card button {
  background-color: transparent;
  padding: 0 4px;
  border: none;
  display: flex;
  align-items: center;
  display: flex;
  gap: 4px;
  color: #aaddff;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
}

#account-data .account-data-card button .button-svg {
  fill: #aaddff;
  height: 100%;
  width: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#account-data .account-data-card button:hover,
#account-data .account-data-card button:active {
  color: #aaddffaa;

  .button-svg {
    fill: #aaddffaa;
  }
}

#account-data .account-data-card .content {
  flex-grow: 1;
  padding-inline: 4px;
  display: flex;
  align-items: center;
}

#account-data .account-data-card.bio .content {
  padding-block: 8px;
  align-items: flex-start;
}

#account-data .account-data-card .content:focus {
  outline: none;
}

#account-data .account-data-card .char-tracker {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #aaddff99;
  font-size: 10px;
  font-weight: bold;
}

#account-data .account-data-card .error-info {
  position: absolute;
  left: 12px;
  bottom: 2px;
  color: red;
  font-size: 11px;
}

#account-data .account-data-card select {
  flex-grow: 1;
  background-color: #3f3a77;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
}

#account-data .account-data-card select:focus {
  outline: 0;
  border: 1px solid white   ;
}

#account-email {
  display: flex;
  gap: 6px;
}

#account-email svg {
  fill: #999;
  width: 32px;
}

#account-email span {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

#account-email button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: lime;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: bold;
}

#account-email button:hover,
#account-email button:active {
  color: limegreen;
}

#account-buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

#account-buttons button {
  background-color: transparent;
  border: none;
  color: #1177ff;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: bold;
}

#account-buttons button:hover,
#account-buttons button:active {
  color: #aaddff;
}
