@font-face {
  font-family: "nasalization";
  src: url(font/nasalization/nasalization.woff) format(woff),
       url(font/nasalization/nasalization.woff2) format(woff2);
}

@font-face {
  font-family: "xolonium";
  src: url(font/xolonium/xolonium.woff) format(woff),
       url(font/xolonium/xolonium.woff2) format(woff2);
}

* {
  box-sizing: border-box;
  overflow-y: none;
}

:root {
  background-color: black;
  color: white;
  --auth-size: min(calc(40vw + 40vh), 640px);
  --cyber-size: min(calc(2.5vw + 2.5vh), 64px);
}

body {
  margin: 0;
  background-image: url("/bg-img.webp");
  background-size: cover;
}

#auth-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth-container {
  width: var(--auth-size);
  height: calc(var(--auth-size) * 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--auth-size) / 100);
}

#main-heading {
  margin: 0;
  font-size: calc(var(--auth-size) * 0.1);
  font-family: nasalization, xolonium;
}

#sign-form {
  background-color: #000000cc;
  width: 90%;
  height: 80%;
  border: calc(var(--auth-size) / 250) solid white;
  font-family: xolonium;
  
}

#sign-type {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sign-type button {
  background-color: transparent;
  padding-bottom: calc(var(--auth-size) / 100);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: calc(var(--auth-size) / 25);
}

#sign-type button.selected {
  border-bottom: 2px solid white;
}

#auth-greeting-container {
  height: 20%;
  padding-inline: calc(var(--auth-size) / 40);
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-size: calc(var(--auth-size) / 40);
}

#auth-input-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--auth-size) / 35);
  gap: calc(var(--auth-size) / 50);
}

#auth-input-container label {
  display: inline-block;
  width: calc(var(--auth-size) / 4);
  text-align: center
}

#auth-input-container input {
  background-color: transparent;
  width: calc(var(--auth-size) / 2.2);
  height: calc(var(--auth-size) / 18);
  padding: 0 calc(var(--auth-size) / 70);
  border: calc(var(--auth-size) / 400) solid white;
  border-radius: calc(var(--auth-size) / 200);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

#auth-input-container input:focus {
  outline: none;
  border-color: red;
}

#auth-button {
  height: 25%;
  display: grid;
  justify-content: center;
  align-items: start;
}

#auth-button button {
  background-color: #ffffff55;
  width: calc(var(--auth-size) / 4);
  height: calc(var(--auth-size) / 15);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
}

#auth-button button:active {
  background-color: #10c80a55;
  color: #10c80a;
}

#loading-overlay {
  background-color: #000000e0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-content: center;
}

#loading-spinner {
  width: max(4vw, 50px);
  height: max(4vw, 50px);
  border: max(0.4vw, 5px) solid white;
  border-right-color: transparent;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overflow-y-support {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-y-support::-webkit-scrollbar {
  display: none;
}

.indicator.online {
  background-color: lime;
}

.indicator.offline {
  background-color: red;
}

#cyber-page {
  background-color: #000000e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: xolonium;
}

#cyber-container {
  background-color: #0a101650;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#cyber-container nav {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

#top-nav, #bottom-nav {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.nav-button {
  fill: white;
  width: 60px;
  padding: 10px;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.nav-button.selected {
  background-color: #ffffff35;
}

#nav-pfp {
  width: 56px;
  height: 56px;
  border: 2px solid white;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

#nav-pfp.selected {
  border-color: #0077ff;
}

button#toggle-theme {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
}

button#toggle-theme:hover {
  background-color: #ffffff22;
}

button#toggle-theme svg {
  fill: white;
  width: 45px;
}

#cyber-chats {
  flex-grow: 1;
  display: flex;
  position: relative;
}

#toggle-chats-aside {
  width: 60px;
  height: 60px;
  display: grid;
  place-content: center;
}

#toggle-chats-aside button {
  background-color: transparent;
  padding: 0;
  border: none;
}

#toggle-chats-aside svg {
  fill: white;
  width: 48px;
}

#toggle-chats-aside button:active {
  svg {
    fill: #0066ff;
  }
}

#cyber-chats-aside {
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

#chats-aside-top {
  box-sizing: border-box;
  min-height: 15%;
  display: flex;
  flex-direction: column;
}

#chats-aside-top-top {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#chats-aside-top-top h1 {
  margin-block: 0;
}
#chats-aside-top-bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chats-aside-search {
  display: flex;
  background-color: #ffffff25;
}

#chats-aside-search div {
  height: 42px;
  width: 54px;
  display: grid;
  place-content: center;
}

#chats-aside-search svg {
  fill: white;
  width: 1.7rem;
}

#chats-aside-search input {
  flex-grow: 1;
  background-color: transparent;
  padding-inline: 0.5rem;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
}

#chats-aside-search input:focus {
  outline: none;
}

#chats-aside-bottom {
  flex-grow: 1;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-card {
  background-color: #ffffff25;
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-card:hover {
  background-color: #7777bf50;
}

.chat-card.selected {
  background-color: #0066ff;
}

.chat-card-pfp {
  min-width: 75px;
  border-radius: 100%;
  display: grid;
  place-content: center;
  position: relative;
}

.chat-card-pfp img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.chat-card-pfp .indicator {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.chat-card-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-card-name {
  width: 90%;
  font-size: 1.25rem;
  font-weight: 700;
}

.chat-card-title {
  color: #ffffffbb;
  width: 90%;
  font-size: 0.9rem;
}

#cyber-chats-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 36px;
}

#chats-content-top  {
  padding-block: 24px;
  display: flex;
  gap: 18px;
}

#chats-content-top-pfp {
  display: grid;
  place-content: center;
}

#chats-content-top-pfp img {
  width: 72px;
  border-radius: 100%;
}

#chats-content-top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chats-content-top-info h1 {
  margin: 0;
  font-size: 1.5rem;
}

#chats-content-top-info span {
  color: #ffffff99;
  font-size: 1.1rem;
}

#chats-content-bottom {
  flex-grow: 1;
  height: 0;
  display: flex;
  flex-direction: column;
}

#chat-display {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.message-card {
  display: flex;
  justify-content: flex-start;
}

.message-card.own-message {
  justify-content: flex-end;
}

.message-card > div {
  width: 600px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.message-card > div.own-message {
  align-items: flex-end;
}

.message-sender-name {
  background-color: #0099bb;
  width: max-content;
  min-height: 30px;
  padding-inline: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
}

.message-sender-name.own-message {
  justify-content: flex-end;
}

.message-content {
  flex-grow: 1;
  width: 100%;
  padding: 12px;
  border: 1px solid #0099bb;
  font-size: 1rem;
}

#chat-input {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#chat-input input {
  flex-grow: 1;
  background-color: transparent;
  height: 48px;
  padding-inline: 12px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
}

#chat-input input:focus {
  outline: none;
}

#chat-input button {
  background-color: #0066ff;
  width: 48px;
  height: 48px;
  border: 1px solid #0066ff;
  border-radius: 8px;
}

#chat-input button svg {
  fill: white;
  width: 24px;
}

#cyber-friends {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#cyber-friends-nav {
  min-height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#cyber-friends-nav h1 {
  margin: 0;
}

#cyber-friends .divider {
  background-color: #aaa;
  width: 2px;
  height: 2rem;
  margin-inline: 2rem;
}

#cyber-friends-nav button {
  background-color: transparent;
  margin-right: 1rem;
  padding-inline: 12px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.7rem;
}

#cyber-friends-nav button.selected {
  color: #0077ff;
  border-bottom: 3px solid #0077ff;
}

button#add-friend {
  background-color: #ffffff50;
  border-radius: 6px;
}

button#add-friend:hover, button#add-friend:active {
  background-color: #0077ff99;
}

#cyber-friends-content {
  flex-grow: 1;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
}

#add-friend-modal {
  background-color: #000000dd;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
}

#add-friend-modal > div {
  background-color: #444455;
  width: 480px;
  height: 510px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

#add-friend-modal-top {
  min-height: 10%;
  display: grid;
  place-content: center;
  position: relative;
}

#add-friend-modal-top h1 {
  margin: 0;
  font-size: 1.5rem;
}

#add-friend-modal-top div {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

#add-friend-modal-top button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  display: grid;
  place-content: center;
  position: absolute;
}

#add-friend-modal-top button:hover {
  background-color: #666;
}

#add-friend-modal-top svg {
  fill: white;
  width: 30px;
}

#add-friend-modal hr {
  margin: 0;
  border-color: gray;
}

#add-friend-modal-bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#add-friend-input {
  min-height: 10%;
  display: flex;
  border: 1px solid white;
}

#add-friend-input div {
  width: 10%;
  height: 100%;
  display: grid;
  place-content: center;
}

#add-friend-input svg {
  fill: white;
  width: 30px;
}

#add-friend-input input {
  flex-grow: 1;
  background-color: transparent;
  height: 100%;
  padding-right: 12px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
}

#add-friend-input input:focus {
  outline: none;
}

#add-friend-input button {
  align-self: center;
  background-color: #0077ff;
  width: 15%;
  height: 70%;
  margin-right: 4px;
  border: none;
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
}

#add-friend-input button:active {
  background-color: #0077ffaa;
}

#add-friend-no-result {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#add-friend-no-result img {
  width: 225px;
}

#add-friend-no-result span {
  text-align: center;
  color: #aaddff;
  font-size: 1.25rem;
}

#add-friend-profile {
  flex-grow: 1;
  max-height: 80%;
  display: flex;
  gap: 1%;
  padding-block: 12px;
}

#add-friend-profile-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

#add-friend-profile-left img {
  max-width: 200px;
  border: 3px solid #aaddff;
}

#add-friend-profile-right {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

.add-friend-profile-data-card {
  width: 100%;
  height: max-content;
  padding: 8px;
  border: 3px solid #aaddff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  overflow-x: auto;
}

.add-friend-profile-data-card:last-child {
  flex-grow: 1;
}

.add-friend-profile-data-card .label {
  color: #aaddff;
  font-size: 0.7rem;
}

.add-friend-profile-data-card {
  font-size: 1rem;
}

#add-friend-button {
  background-color: transparent;
  min-height: 10%;
  border: 3px solid #aaddff;
  color: #aaddff;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
}

#add-friend-button:hover {
  background-color: #ffffff22;
}

#add-friend-button:active {
  background-color: #ffffff50;
}

#add-friend-button.sent {
  color: #00ff62;
  border-color: #00ff62;
}

#add-friend-button.received {
  color: #00ff62;
  border-color: #00ff62;
}

#add-friend-button.is-friend {
  color: #00ff62;
  border-color: #00ff62;
}

#add-friend-button.self {
  color: red;
  border-color: red;
}

#add-friend-button.dev {
  color: red;
  border-color: red;
}

#add-friend-button.no-effect:hover, 
#add-friend-button.no-effect:active
{
  background-color: transparent;
}

#friends-search {
  display: flex;
  border: 1px solid white;
}

#friends-search input {
  flex-grow: 1;
  background-color: transparent;
  min-height: 42px;
  border: none;
  padding-right: 12px;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
}

#friends-search input:focus {
  outline: none;
}

#friends-search div {
  width: 42px;
  height: 42px;
  display: grid;
  place-content: center;
}

#friends-search svg {
  fill: white;
  width: 27px;
}

#friends-all {
  flex-grow: 1;
  padding-block: 48px;
  display: flex;
  flex-direction: column;
}

#friends-all h1 {
  margin: 0;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

.friend-cards {
  flex-grow: 1;
  height: 0;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.friend-card {
  background-color: #ffffff20;
  min-height: 100px;
  display: flex;
}

.friend-card:hover {
  background-color: #ffffff35;
}

.friend-card-pfp {
  width: 100px;
  height: 100%;
  display: grid;
  place-content: center;
  position: relative;
}

.friend-card-pfp img {
  width: 65px;
  border-radius: 100%;
}

.friend-card-pfp .indicator {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  bottom: 22%;
  right: 18%;
}


.friend-card-info {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.friend-card-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.friend-card-title {
  color: #ffffff99;
  font-size: 1rem;
}

.friend-card-buttons {
  display: flex;
  padding-inline: 36px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.friend-card-buttons button {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
}

.friend-card-buttons button svg {
  fill: white;
}

.friend-card-buttons button:hover, .friend-card-buttons button:active {
  svg {
    fill: #0077ff;
  }
}

#friends-pending {
  flex-grow: 1;
  padding-block: 48px;
  display: flex;
  flex-direction: column;
}

#friends-pending h1 {
  margin: 0;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

.pending-cards {
  flex-grow: 1;
  height: 0;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pending-card {
  background-color: #ffffff15;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.pending-card-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pending-card-buttons button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
}

.pending-card-buttons button:hover,
.pending-card-buttons button:active {
  opacity: 60%;
}

#friends-inbox {
  flex-grow: 1;
  padding-block: 48px;
  display: flex;
  flex-direction: column;
}

#friends-inbox h1 {
  margin: 0;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

.inbox-cards {
  flex-grow: 1;
  height: 0;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inbox-card {
  background-color: #ffffff15;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

#cyber-settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#cyber-settings h1 {
  min-height: 10%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#cyber-settings-features {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-feature {
  background-color: #777777cc;
  height: 50px;
  padding-inline: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-feature span {
  font-size: 2rem;
}

.settings-feature select {
  background-color: black;
  width: 120px;
  height: 40px;
  padding: 4px 8px;
  border: 1px solid white;
  color: inherit;
  font-size: 1.5rem;
}

.input-type-toggle {
  background-color: black;
  width: 80px;
  height: 40px;
  padding-inline: 8px;
  border: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-type-toggle div {
  background-color: #ccc;
  width: 28px;
  height: 28px;
}

.input-type-toggle.toggle-on {
  background-color: #0077ff;
  justify-content: flex-end;
}

#cyber-account {
  flex-grow: 1;
}